* {
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
  color: saddlebrown;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 2rem;
  color:rosybrown;
  line-height: .8;
  color: red;
}

main {
  width: 90%;
  margin: 3rem auto;
  display: grid;
  grid-template-rows: 6.5rem;
}

#siteLogo {
  width: 250px;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#Image1:hover {
  cursor: pointer;
}

#Image2:hover {
  cursor: pointer;
}

#Image3:hover {
  cursor: pointer;
}

#myChart {
  width: 950px;
}

section {
  background-color: rgba(211, 187, 176, 0.3);
}

/* Class selectors */

.container {
  border: 5px solid #F00C85;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 250px 500px 100px;
}

#chart {
  /* background-color: aqua; */
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.getResultsButton {
  background: #11cdd4;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 20%;
}

.getResultsButton:hover {
  cursor: pointer;
}

.parragraph {
  background-color: #B3EDC3;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-right: 45px;
}

.results {
  background-color: #BDDFEE;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
